<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/nduu.jpg" alt="Randu Hazel" class="img-thumnail rounded-circle" width="250">
            <h1 class="display-4">Randu Hazel</h1>
            <p class="lead">Lecturer | Pelajar</p>
        </div>
    </div>
</div>